.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column
}

body {
  @extend %rubik-400;
  color: $default;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
  background-color: $bg;
}

.main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pad-60-0 {
  padding: 60px 0;

  @include mq('tablet-2') {
    padding: 40px 0;
  }

  @include mq('tablet') {
    padding: 20px 0;
  }

}


.button {
  color: $white;
  border-radius: 5px;
  display: inline-block;
  background-color: $accent;
  font-size: 14px;
  @extend %rubik-500;
  position: relative;
  transition: color 0.3s ease,
    border-radius 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.title {
  color: $title;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3;
  @extend %rubik-500;

  @include mq('tablet-2') {
    font-size: 30px;
  }

  @include mq('phone') {
    font-size: 24px;
  }
}

.link-active--deskr {
  color: $accent;
}

// ↓↓↓↓↓ Активные Стили для кнопки  ↓↓↓↓↓ ///
.active-btn {

  &:hover {
    color: $accent;

    svg {
      fill: $accent;
    }

    background-color: $white;
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      box-shadow: none;
    }
  }

  &:focus {
    color: $accent;
    background-color: rgba($accent2, 0.10);
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      fill: $accent;
    }
  }

  &:active {
    background-color: $accent3;
    box-shadow: none;
  }
}

//// ↓↓↓↓↓ Активные Стили для logo↓↓↓↓↓↓ ///////
.logo-active {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    background-color: rgba($white, 0.01);
    box-shadow: 0 0 0 2px rgba($accent, 0.70);
  }

  &:active {
    opacity: 0.5;
    box-shadow: none;
  }
}

//// ↓↓↓↓↓ Активные Стили для form ↓↓↓↓↓↓ ///////
.form-active {
  &:focus {
    border-radius: 5px;
    border: 1px solid rgba($grey, 0.00);
    background-color: $white;
    box-shadow: 0 0 0 2px $accent;
  }

  &:hover::placeholder {
    color: $title;
  }
}

//// ↓↓↓↓↓ Активные Стили для link ↓↓↓↓↓↓ ///////
.link-active {
  &:hover {
    color: $accent;

    svg {
      stroke: $accent;
    }
  }

  &:focus {
    background-color: rgba($white, 0.01);
    box-shadow: 0 0 0 2px rgba($accent, 0.70);
  }

  &:active {
    color: $title;
    text-shadow: 2px 2px 5px rgba($default, 0.50);
    box-shadow: none;
    filter: drop-shadow(0 0 5px rgba($default, 0.50));

    svg {
      stroke: $title;
    }
  }
}

//// ↓↓↓↓↓ Активные Стили для ecomerce ↓↓↓↓↓↓ ///////
.icon-active {
  &:hover {
    background-color: $accent2;

    svg {
      stroke: $white;
    }

    span {
      background-color: $white;
      color: $accent;
    }
  }

  &:focus {
    background-color: rgba($accent2, 0.10);
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      stroke: $title;
    }

    span {
      background-color: $accent;
      color: $white;
    }
  }

  &:active {
    background-color: $accent3;
    box-shadow: none;

    svg {
      stroke: $title;
    }

    span {
      background-color: $accent;
      color: $white;
    }
  }
}

//// ↓↓↓↓↓ Активные Стили для icon ↓↓↓↓↓↓ ///////
.social-icon-active {
  &:hover {
    background-color: $accent2;

    svg {
      fill: $white;
    }
  }

  &:focus {
    background-color: $accent3;
    border-radius: 50%;
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      fill: $default;
    }
  }

  &:active {
    box-shadow: none;
    background-color: $accent3;

    svg {
      fill: $accent2;
    }
  }
}

.filter-btn-active {
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  svg {
    transition:
      fill 0.3s ease,
  }

  &:hover {
    color: $accent;
    background-color: rgba($accent2, 0.10);
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      fill: $accent;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($accent, 0.70);
    color: $title;

    svg {
      fill: $title;
    }
  }

  &:active {
    background-color: $white;
    box-shadow: 0 -5px 12px 0 rgba($accent, 0.20) inset;
    color: $title;

    svg {
      fill: $title;
    }
  }
}

.button-arrow {
  border-radius: 20px;
  background: $accent;
  padding: 10.5px 32.5px;
  line-height: 0;

  svg {
    width: 14px;
    height: 14px;
    fill: $white;
    transition:
      fill 0.3s ease,
      transform 0.3s ease
  }

  transition: box-shadow 0.3s ease,
  background-color 0.3s ease;

  &:hover {
    background-color: $white;
    box-shadow: 0 0 0 2px rgba($accent, 0.70) inset;

    svg {
      fill: $accent;
      transform: translateX(12px);
    }
  }

  &:focus {
    background-color: $accent3;
    box-shadow: 0 0 0 2px rgba($accent, 0.70);

    svg {
      fill: $accent;
      transform: translateX(0);
    }
  }

  &:active {
    background-color: $accent3;
    box-shadow: none;

    svg {
      fill: $accent;
      transform: translateX(0);
    }

  }
}

.global-link {
  display: inline-block;
  border-radius: 5px;
  position: relative;
  transition:
    display 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    text-shadow 0.3s ease;

  @include mq('tablet-2') {
    font-size: 16px;
  }

  &:focus::before {
    display: none;
  }

  &:hover::before {
    display: none;
  }

  &:active::before {
    display: none;
  }

  &::before {
    content: '';
    height: 1px;
    background-color: $title;
    bottom: 2px;
    left: 0;
    right: 0;
    position: absolute;
  }
}