$accent: #FF6838;
$accent2: #FF7A50;
$grey: #C2C2C2;
$white: #fff;
$bg: #F9FAFF;
$title: #363853;
$default: #31352B;


%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}