$accent: #FF6838;
$accent2: #FF7A50;
$accent3: #FFF2ED;
$accent4: #FFAE94;
$silver: #ECECEC;
$grey: #C2C2C2;
$white: #fff;
$black: #000;
$bg: #F9FAFF;
$title: #363853;
$default: #31352B;

$breakpoints: (
  "phone": 560px,
  "tablet": 768px,
  "tablet-2": 992px,
  "desktop": 1230px
);


%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}