@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.header {
  padding: 60px 0;
}

.logo {
  border-radius: 5px;
  padding: 4px 0 0 0;
  transition:
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: 63px;
  }

  &__list-item:not(:last-child) {
    margin-right: 45px;
  }

  &__list-link {
    border-radius: 5px;
    font-size: 18px;
    transition:
      color 0.3s ease,
      border-radius 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      text-shadow 0.3s ease;
  }
}

.user-ecommerce {
  display: flex;

  &__item {
    position: relative;
  }

  &__link .user-ecommerce__link-num {
    transition:
      background-color 0.3s ease,
      border-radius 0.3s ease;
  }

  .icon-active svg ellipse {
    transition: stroke 0.3s ease;
  }

  .icon-active svg path {
    transition: stroke 0.3s ease;
  }

  &__item:not(:last-child) {
    margin-right: 15px;
  }

  &__link {
    border-radius: 5px;
    display: block;
    padding: 10px;
    height: 44px;
    width: 44px;
    transition:
      border-radius 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  &__link-num {
    font-size: 10px;
    color: $white;
    background-color: #FF7A50;
    border-radius: 10px;
    line-height: 0.5;
    padding: 4px;
    display: block;
    position: absolute;
    top: 7px;
    left: 23px;
  }
}

.hero {
  max-width: 1170px;
  margin: 0 auto;
  padding: 155px 15px;
  position: relative;
  margin-bottom: 60px;

  &__bg {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 560px;
    width: 100%;
  }

  &__title {
    font-size: 66px;
    @extend %rubik-500;
    line-height: 1.3;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title-color {
    display: block;
    color: $accent;
  }

  &__text {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }

  &__link-btn {
    padding: 12px 32px;
    margin-right: 34px;
    font-size: 18px;
  }
}

.global-link {
  border-radius: 5px;
  position: relative;
  transition:
    display 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    text-shadow 0.3s ease;

  &:focus::before {
    display: none;
  }

  &:hover::before {
    display: none;
  }

  &:active::before {
    display: none;
  }

  &::before {
    content: '';
    height: 1px;
    background-color: $title;
    bottom: 2px;
    left: 0;
    right: 0;
    position: absolute;
  }
}

.popular-categoty {
  padding: 60px 0;
  text-align: center;

  &__title {
    margin-bottom: 55px;
  }

  &__filter-list {
    display: flex;
    overflow-y: auto;
    scroll-snap-type: y;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-bottom: 43px;
  }

  &__filter-item {
    padding: 2px;
    scroll-snap-align: start;
  }

  &__filter-item:not(:last-child) {
    margin-right: 18px;
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 13px 32px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 0 1px #ECECEC;
    width: max-content;
  }
}

.mixitup-control-active {
  box-shadow: none;
  background-color: $accent;
  color: $white;

  svg path {
    fill: $white;
  }
}

.catalog {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;

  &__card-item {
    text-align: center;

  }

  &__article-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    padding: 20px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 0 1px #ECECEC;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 0 1px #FF6838;
    }
  }


  &__product-title {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1;
    max-width: 180px;
    width: 100%;
  }

  &__product-price {
    @extend %rubik-500;
    line-height: 1.3;
    margin-top: auto;
  }



  &__product-btn {
    padding: 7px 16px;
    line-height: 1.2;
  }
}

.footer {
  &__inner {
    padding: 60px 0;
    display: flex;
  }

  &__item {
    margin-right: 70px;
  }

  &__info-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0 70px;
    margin-right: 74px;
  }

  &__item-form {
    max-width: 200px;
    width: 100%;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__info-item {
    margin-bottom: 20px;
  }

  &__info-link {
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.18px;
    transition:
      color 0.3s ease,
      border-radius 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      text-shadow 0.3s ease;
  }

}

.form {
  &__input {
    display: block;
    font-size: 14px;
    padding: 11px 15px 10px 15px;
    border-radius: 5px;
    border: 1px solid #C2C2C2;
    margin-bottom: 12px;
    width: 100%;
    transition:
      border-radius 0.3s ease,
      border 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    &::placeholder {
      color: #C2C2C2;
      font-size: 14px;
      padding: 0;
      transition: color 0.3s ease;
    }
  }

  &__btn {
    width: 100%;
    padding: 13px 46px 13px 63px;

    &span {
      box-shadow: none;
      background-color: inherit;
    }
  }

  .active-btn svg path {
    transition: fill 0.3s ease;
  }

  &__btn-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.footer__copyright {
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
  border-top: 1px solid rgba(194, 194, 194, 0.2);
}

.address {
  font-style: normal;

  &__contact-list {
    margin-bottom: 15px;
  }

  &__info-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__contact-link {
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 3px 3px 31px;
    position: relative;
    transition:
      color 0.3s ease,
      border-radius 0.3s ease,
      background-color 0.3s ease,
      box-shadow 0.3s ease,
      text-shadow 0.3s ease;
  }

  &__contact-icon {
    position: absolute;
    height: 24px;
    width: 24px;
    left: 0;
    top: 1px;
  }

  .link-active svg path {
    transition: stroke 0.3s ease;
  }

  &__social-list {
    display: flex;
  }

  &__social-link {
    display: block;
    width: 39px;
    height: 39px;
    transition:
      background-color 0.3s ease,
      border-radius 0.3s ease,
      box-shadow 0.3s ease;
  }

  .social-icon-active svg path {
    transition: fill 0.3s ease;
  }

  .social-icon-active svg circle {
    transition: fill 0.3s ease;
  }

  &__social-item:not(:last-child) {
    margin-right: 13px;
  }
}

.delivery {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 120px;
  }

  &__info {
    max-width: 470px;
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 31px;
  }

  &__list {
    margin-bottom: 31px;
  }

  &__item {
    margin-bottom: 22px;
    padding-left: 64px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item--time {
    &::after {
      background-image: url(../images/icon/time.svg);
    }
  }

  &__item--courier {
    &::after {
      background-image: url(../images/icon/courier.svg);
    }
  }

  &__item--cafe {
    &::after {
      background-image: url(../images/icon/cafe.svg);
    }
  }

  &__btn {
    padding: 12px 32px;
    font-size: 18px;
  }
}

.restaurants {
  padding: 60px 0;
  text-align: center;

  &__title {
    margin-bottom: 45px;
  }

  &__list {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__article {
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.10);
    padding-bottom: 23px;
    position: relative;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.50);
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &__time {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 32px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icon/timer.svg);
      width: 22px;
      height: 22px;
      left: 0;
      top: 50%;
      transform: translateY(-50%)
    }
  }

}

.button-arrow {
  border-radius: 20px;
  background: $accent;
  width: 79px;
  height: 33px;
  position: absolute;
  display: block;
  right: 20px;
  bottom: 20px;
  transition:
    box-shadow 0.3s ease,
    background-color 0.3s ease;

  &:hover {
    background-color: #FFF;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);

    span {
      background-color: $accent;
      left: 75%;
      transition:
        left 0.3s ease,
        background-color 0.3s ease;

      &::after {
        background-color: $accent;
      }

      &::before {
        background-color: $accent;
      }
    }
  }

  &:focus {
    background-color: #FFF2ED;
    box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.70);

    span {
      background-color: $accent;
      left: 50%;
      transition:
        left 0.3s ease,
        background-color 0.3s ease;

      &::after {
        background-color: $accent;
      }

      &::before {
        background-color: $accent;
      }
    }
  }

  &:active {
    background-color: #FFF2ED;
    box-shadow: none;

    span {
      background-color: $accent;
      left: 50%;
      transition:
        left 0.3s ease,
        background-color 0.3s ease;

      &::after {
        background-color: $accent;
      }

      &::before {
        background-color: $accent;
      }
    }
  }

  &__arrow {
    display: block;
    background-color: $white;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-color: $white;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 0;
      right: 0;
      transform: rotate(45deg) translate(-10%, -110%);
    }

    &::before {
      content: '';
      position: absolute;
      background: $white;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 0;
      right: 0;
      transform: rotate(-45deg) translate(-10%, 110%);
    }
  }
}

.reviews {
  padding: 60px 0;


  &__title {
    margin-bottom: 45px;
    text-align: center;
  }

  &__inner {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 85px;
    overflow: hidden;
    position: relative;

    ul {
      display: flex;
      justify-content: center;
      gap: 0 20px;

      li {
        cursor: pointer;
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #C2C2C2;
        transition:
          background-color 0.3s ease,
          box-shadow 0.3s ease;

        &:hover {
          background-color: #FFF2ED;
          box-shadow: 0 0 0 2px rgb(255, 174, 148);
        }

        &:focus {
          background-color: #C2C2C2;
          box-shadow: 0 0 0 2px rgb(255, 104, 56);
        }
        
        &:active {
          background-color: rgb(255, 174, 148);
          box-shadow: none;
        }
      }
    }

    .slick-prev {
      position: absolute;
      bottom: 85px;
      left: 50%;
      transform: translateX(80%);
    }

    .slick-next {
      position: absolute;
      bottom: 85px;
      right: 50%;
      transform: translateX(-140%);
    }
  }

  &__items {
    display: inline-block;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
  }

  &__img {
    border-radius: 50%;
    max-width: 300px;
    width: 100%;
  }

  &__content {
    width: 641px;
  }

  &__blockquote {

    padding: 0 40px;
    text-align-last: left;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      background-image: url(../images/icon/quotes.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 24px;
      height: 19px;
      left: 0;
      top: 0;
    }

    &::before {
      content: '';
      background-image: url(../images/icon/quotes.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 24px;
      height: 19px;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  &__author {
    padding-left: 40px;
    color: $accent;
    font-size: 20px;
    @extend %rubik-500;
    font-style: normal;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 15px;
  }

  &__about-author {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 40px;
  }


}



@import 'media';